/*==============================================
03. SOCIAL ICONS CSS
================================================*/
#social-icons {
    padding:0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right:0;
    z-index: 199;
  }
  .social-icons {
    margin:0;
    padding:0;
    list-style:none;
  }
  .social-icons li {
    display: block;
    margin: 1px 0px;
  }
  .social-icons li a {
    width:50px;
    height:50px;
    display:inline-block;
    line-height:50px;
    text-align:center;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    font-size:18px;
  }
  .social-icons li a:hover {
    color:#ffffff;
    background-color: rgb(165, 0, 102);
  }
  
  
  /*==============================================
  03. parte de slider con imagenes
  ================================================*/
  
  .title-block {
    margin-bottom: 40px;
  }
  .title-block span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .gallery-section {
    text-align: center;
  }
  
  /*==============================================
  07. WORK BLOCK CSS
  ================================================*/
  .gallery-section {
    text-align: center;
  }
  .portfolio-item img {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9;
    border-radius: 10px;
  }
  .portfolio-item .thumb-inner {
    position: absolute;
    z-index: 99;
    bottom: 0;
    text-align: left;
    padding: 20px;
    background-color: rgba(250,250,250,0.25);
    width: 100%;
    height: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .portfolio-item .thumb-inner h4 {
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 0px;
  }
  .portfolio-item .thumb-inner p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-bottom: 0px;
  }
  .portfolio-item:hover .thumb-inner p {
    position: relative;
    opacity: 1;
    visibility: visible;
    color: #4a4a4a;
  }
  .portfolio-item:hover .thumb-inner {
    border-radius: 10px;
    height: 100%;
    background-color: rgba(250,250,250,0.9)
  }
  .portfolio-item:hover .thumb-inner h4 {
     margin-top: 30%;
    color: #1e1e1e;
    margin-bottom: 20px;
  }
  